directorymanage/directoryManagerDbTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Thu Dec 07 2017 21:31:52 GMT+0100 (CET) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="dataset">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="Groupe" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:attribute name="id" type="xs:int"></xs:attribute>
                                          <xs:attribute name="name" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="Person" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:attribute name="id" type="xs:int"></xs:attribute>
                                          <xs:attribute name="firstName" type="xs:string"></xs:attribute>
                                          <xs:attribute name="lastName" type="xs:string"></xs:attribute>
                                          <xs:attribute name="mail" type="xs:string"></xs:attribute>
                                          <xs:attribute name="website" type="xs:string"></xs:attribute>
                                          <xs:attribute name="birthday" type="xs:date"></xs:attribute>
                                          <xs:attribute name="password" type="xs:string"></xs:attribute>
                                          <xs:attribute name="groupId" type="xs:int"></xs:attribute>
                                          <xs:attribute name="enabled" type="xs:int"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="PersonsTokens" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:attribute name="id" type="xs:int"></xs:attribute>
                                          <xs:attribute name="personId" type="xs:int"></xs:attribute>
                                          <xs:attribute name="token" type="xs:string"></xs:attribute>
                                          <xs:attribute name="expiryDate" type="xs:date"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="User_roles" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:attribute name="username" type="xs:string"></xs:attribute>
                                          <xs:attribute name="role" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
